<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34493968920-bti2r53h2j2cpoee6vb196g0nnbv5jqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34493968920-bti2r53h2j2cpoee6vb196g0nnbv5jqa</string>
	<key>API_KEY</key>
	<string>AIzaSyCH0olUTZcJbSeS7-7g5ru8Gvo-R-QPymI</string>
	<key>GCM_SENDER_ID</key>
	<string>34493968920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test1</string>
	<key>PROJECT_ID</key>
	<string>sleeprivation</string>
	<key>STORAGE_BUCKET</key>
	<string>sleeprivation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34493968920:ios:71c3d3902124dcf1f6496d</string>
</dict>
</plist>